* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/*header*/
header {
  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: fixed;
  top: 0;
  z-index: 98;
  font-family: "Happiness-Sans-Bold";
}
header ul {
  display: flex;
}
header li {
  padding: 1.5rem;
}
header li a:hover {
  color: #f15822 !important;
}
.bars {
  display: none;
}
.side_menu {
  display: none;
}
header.on .bar {
  background-color: #fff !important;
}
header.on {
  background-color: #111;
}
.login {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 15%;
  right: 1.3%;
  z-index: 5;
}
.login a {
  height: 100%;
}
.log_bg {
  width: 100%;
  height: 100%;
  background-color: #f15822;
  border-radius: 50%;
  text-align: center;
}
.login span {
  width: 100%;
  display: inline-block;
  color: #fff;
  font-size: 45px;
}
.login p {
  color: #fff;
  text-shadow: 2px 2px 2px #111;
}
@media (max-width: 768px) and (min-width: 480px) {
  .wrap {
    position: relative;
  }
  header h1 {
    width: 30%;
  }
  header a {
    width: 100%;
  }
  header a img {
    width: 100%;
  }
  header ul {
    display: none;
  }
  .nav {
    display: none;
  }
  .side_menu {
    display: block;
  }

  /*hamberger bars*/
  .bars {
    width: 2em;
    height: 1em;
    cursor: pointer;
    position: fixed;
    right: 2.5%;
    top: 3%;
    z-index: 94;
    display: block;
  }
  .bars_wrap {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 94;
    transform: translateY(-1%);
  }
  .bar {
    width: 100%;
    height: 0.1em;
    position: absolute;
    background-color: #fff;
    text-shadow: 2px 2px 2px #111;
  }
  .bar:nth-of-type(1) {
    top: 0;
  }
  .bar:nth-of-type(2) {
    top: 50%;
  }
  .bar:nth-of-type(3) {
    top: 100%;
  }

  /*side menu*/
  .side_menu {
    width: 100%;
    height: 100vh;
    margin: 0px auto;
    background-color: #111;
    position: fixed;
    left: 100%;
    top: 0;
    z-index: 99;
  }
  .side_inner {
    width: 90%;
    height: 100%;
    color: white;
    margin: 0px auto;
  }
  .side_menu .menu {
    width: 77%;
    height: 100%;
    margin: 0px auto;
    font-size: 9vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .side_menu .menu span {
    font-size: 5vw;
    margin-right: 3vw;
    margin-top: 0.52vw;
  }
  .side_menu .menu li {
    margin: 3.25vw 0;
    display: flex;
    cursor: pointer;
  }
  .side_menu .menu p:hover {
    text-decoration: line-through;
    text-decoration-thickness: 0.05em;
  }
}
@media (max-width: 431px) {
  .wrap {
    width: 100%;
    position: relative;
    overflow-x: hidden;
  }
  header {
    height: 50px;
  }
  header h1 {
    width: 50%;
  }
  header a {
    width: 100%;
  }
  header a img {
    width: 100%;
  }
  header ul {
    display: none;
  }
  .nav {
    display: none;
  }
  .side_menu {
    display: block;
  }
  /*hamberger bars*/
  .bars {
    width: 1.5em;
    height: 1em;
    cursor: pointer;
    position: fixed;
    right: 2.5%;
    top: 2.5%;
    z-index: 94;
    display: block;
  }
  .bars_wrap {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 94;
    transform: translateY(-1%);
  }
  .bar {
    width: 100%;
    height: 0.15rem;
    position: absolute;
    background-color: #fff;
    text-shadow: 2px 2px 2px #111;
  }
  .bar:nth-of-type(1) {
    top: 0;
  }
  .bar:nth-of-type(2) {
    top: 50%;
  }
  .bar:nth-of-type(3) {
    top: 100%;
  }
  /*side menu*/
  .side_menu {
    width: 100%;
    height: 100vh;
    margin: 0px auto;
    background-color: #111;
    position: fixed;
    left: 100%;
    top: 0;
    z-index: 99;
  }
  .side_inner {
    width: 90%;
    height: 100%;
    color: white;
    margin: 0px auto;
  }
  .side_menu .menu {
    width: 77%;
    height: 100%;
    margin: 0px auto;
    font-size: 9vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .side_menu .menu span {
    font-size: 5vw;
    margin-right: 3vw;
    margin-top: 0.52vw;
  }
  .side_menu .menu li {
    margin: 3.25vw 0;
    display: flex;
    cursor: pointer;
  }
  .side_menu .menu p:hover {
    text-decoration: line-through;
    text-decoration-thickness: 0.05em;
  }
  .login {
    width: 35px;
    height: 35px;
    position: fixed;
    top: 15%;
    right: 1.3%;
    z-index: 5;
  }
  .login a {
    height: 100%;
  }
  .log_bg {
    width: 100%;
    height: 100%;
    background-color: #f15822;
    border-radius: 50%;
    text-align: center;
  }
  .login span {
    width: 100%;
    display: inline-block;
    color: #fff;
    font-size: 33px;
  }
  .login p {
    color: #fff;
    text-shadow: 2px 2px 2px #111;
    font-size: 0.8rem;
  }
}
